@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX($spacer * .5);
  }

  75% {
    transform: translateX(-$spacer * .5);
  }

  100% {
    transform: translateX(0);
  }
}