@mixin blend-hard-light () {
  mix-blend-mode: hard-light;
}

@mixin blend-darken () {
  mix-blend-mode: darken;
}

@mixin btn-reset () {
  background: none;
  border: none;
  color: inherit;
  font-family: inherit;
  cursor: pointer;
  outline: none;
}

@mixin transition-basic () {
  transition: all .21s ease-in-out;
}

@mixin transition-long () {
  transition: all .31s ease-in-out;
}