// Sizes
$spacer: 10px;
$nav-width: 60%;
$body-width: 40%;
$body-width-sm: 96%;
$body-width-lg: 60%;
$body-width-xl: 40%;
$br: 4px;

// Breakpoints
$size-xs: 480px !default;
$size-sm: 600px !default;
$size-md: 840px !default;
$size-lg: 960px !default;
$size-xl: 1120px !default;
$size-xxl: 1600px !default;

// Font Sizes
$font-size-sm: 12px;
$font-size: 14px;
$font-size-lg: 18px;
$font-size-xl: 24px;
$font-size-xxl: 28px;

// Colors
$c-dark: rgb(51, 51, 51);
$c-light: rgb(229, 226, 226);
$c-blue: #1672DD;
$c-blue-dark: rgb(4, 71, 148);
$c-blue-light: rgb(28, 116, 20);
$c-brown: rgb(88, 67, 46);